
.container{
    display: flex;
    flex-direction: column;
}

.projectsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    a{
        text-decoration: none;
    }

    div{
        flex: 0 0 44%;
        min-height: fit-content;
    }
}

.projectComponent{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--border-color);
    padding: 15px;

    .projectTitle{
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 5px;
    }

    white-space: pre-wrap;
}

.projectComponent:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.3s ease;

    h4{
        text-decoration: underline;
    }

}

.projectComponent:active{
    transform: scale(0.98);
}

@media (width <= 1400px){
    .projectComponent{
        .projectTitle{
            font-size: 1rem;
        }
    }
}

@media (width <= 800px){
    .projectComponent{
        .projectTitle{
            font-size: 0.9rem;
        }
    }

    .projectsContainer{
        div{
            flex: 0 1 100%;
           
        }
    }
}

