.container{
    display: flex;
    flex-direction: column;
}

.workContainer, .educationContainer, .publicationsContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.workComponent, .educationComponent, .publicationComponent{
    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
        color: inherit;
    }

    a:hover{
        text-decoration: underline;
    }

    .companyName, .institutionName{
       font-size: 1.1rem;
        font-weight: 650;
        margin-bottom: 5px;
    }
    .institutionName{
        margin-bottom: 8px;
    }

    .position, .authorNames{
        font-size: 0.9rem;
        font-weight: 450;
        margin-bottom: 8px;
    }
    .authorNames{
        margin-bottom: 5px;
    }

    .publicationTitle{
        margin-bottom: 3px;
        font-weight: 650;
        font-size: 0.95rem;
    }

    /*container for company & education name-period*/
    .inlineContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .columnContainer{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .period{
        font-size: 0.9rem;
        font-weight: 300;
        color: var(--secondary-text-color);
        font-family: 'Roboto Flex', sans-serif;
    }

}

@media (width <= 1400px){
    .workComponent, .educationComponent, .publicationComponent{
        .companyName, .institutionName{
            font-size: 1rem;
        }
        .position, .authorNames{
            font-size: 0.85rem;
        }
        .publicationTitle{
            font-size: 0.9rem;
        }
    }
}

@media (width <= 800px){
    .workComponent, .educationComponent, .publicationComponent{

        .companyName, .institutionName{
            font-size: 0.9rem;
        }
        .position, .authorNames{
            font-size: 0.8rem;
        }
        .period{
            font-size: 0.85rem;
        }
        .publicationTitle{
            font-size: 0.85rem;
        }
    }
}




/** unused styles 
ul {
    padding-left: 0; 
    list-style-type: none;
  }

  li::before {
    content: "•"; 
    font-size: 20px;
    color: var(--secondary-text-color); 
    display: inline-block; 
    width: 1em; 
    margin-left: 5px; 
  }*/