:root {
    --background-color: #fff;
    --text-color: #222;
    --secondary-text-color: rgb(143, 143, 143);
    --border-color: #e5e7eb;
    --navbar-bg: #222;
    --navbar-text-color: #fff;
    --icon-width-big : 38px;
    --icon-width : 30px;
    --icon-width-md : 25px;
    --icon-width-small : 20px;
  }
  
  [data-theme='dark'] {
    --background-color: #222;
    --text-color: #fff;
    --secondary-text-color: rgb(199, 199, 199);
    --border-color: #fff;
    --navbar-bg: #fff;
    --navbar-text-color: #222;
    --icon-width-big : 48px;
    --icon-width : 40px;
    --icon-width-md : 35px;
    --icon-width-small : 30px;  
  }
  
  html {
    scroll-behavior: smooth;
  }

  /** Ta default einai general & phone view*/
  body {
    background-color: var(--background-color);
    transition: background-color 0.3s ease, text-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    margin: 0 20px 60px 20px;
    
  }
  
  #root {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
  }

  h1,h2,h3,h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    
  }
  h2{
    font-size: 1rem;
  }
  h3,h4{
    font-size: 0.8rem;
  }
  h5,h6{
    font-family: 'Roboto Flex', sans-serif;
  }

  p{
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    font-weight: 300;
    max-width: 90ch;
    text-align: start;
  }

  .sectionTitle{
    margin-bottom: 10px;
  }

  .hover{
    cursor: pointer;
  }

  .linkIcon{
    width: 12px;
    margin-left: 3px;
  }

  @media (width >= 1400px){
    #root{
      gap : 100px;
    }
    h1{
      font-size: 1.8rem;
    }
    h2{
      font-size: 1.4rem;
    }
    h3{
      font-size: 1.2rem;
    }
    p{
      font-size: 0.9rem;
    }

    .linkIcon{
      width: 15px;
    }
  }

  /** apo 800 ews 1400 */
  @media (800px <= width <= 1400px){
    #root{
      gap : 80px;
    }
    h1{
      font-size: 1.5rem;
    }
    h2{
      font-size: 1.2rem;
    }
    h3{
      font-size: 1rem;
    }
    p{
      font-size: 0.85rem;
    }

    .linkIcon{
      width: 13px;

    }
  }